<body>
    <section class="education__info__shs">
        <h1 class="title">{{title}}</h1>
        <p class="level">Senior High School</p>
        <p class="strand">Accountancy, Business, Management</p>
        <p class="school">Holy Family Academy</p>
    </section>
    <section class="education__info__college">
        <p class="level">College</p>
        <p class="course">BSIT Specialized in Web Development</p>
        <p class="school">Holy Angel University</p>
    </section>
</body>
