<main>
  <!-- APP COMPONENT -->
  <p class="name">{{name}}</p>

  <!-- PERSONAL-INFO COMPONENT -->
<app-personal-info></app-personal-info>
<span><hr></span>
<app-education></app-education>
<span><hr></span>
<app-work-experience></app-work-experience>
<span><hr></span>
<app-training></app-training>
<span><hr></span>
<app-references></app-references>
</main>
<span><hr></span>
<footer>
  <p class="footer">Copyright &#169; 2024 Natividad, Christine Jasline D. Natividad of WD-302. All Rights Reserved.</p>
</footer>
<router-outlet />
