<body>
    <section class="contact__details">
        <p class="contact__info"> 0908 226 4571 &#9642; github.com/itsjayceee &#9642; jasline.natividad7&#64;gmail.com</p>
        <p class="address__info">{{address}}</p>
    </section>
<span><hr></span>
    <section class="position__details">
        <h1 class="position">Web Developer</h1>
        <p class="position__description">A Motivated and results-driven Web Development graduate seeking a challenging position within a large organization as a Web Developer. With experience of creating responsive websites and web applications using HTML, CSS, Vue.js, and MongoDB.  Proficient in optimizing performance, implementing secure coding practices.</p>
    </section>
</body>