<body>
    <section class="certification__info">
        <h1 class="certification__title">{{title1}}</h1>
        <p class="certificate">{{certificate1}}</p>
        <p class="school">{{school}}</p>
        
        <p class="certificate">{{certificate2}}</p>
        <p class="school">{{school}}</p>

        <p class="certificate">{{certificate3}}</p>
        <p class="school">{{school}}</p>

        <p class="extracurricular">{{extracurricular1}}</p>
        <p class="school">{{school}}</p>

        <p class="extracurricular">{{extracurricular2}}</p>
        <p class="school">{{school}}</p>
    </section>
    <section class="skills__info">
        <h1 class="skills__title">{{title2}}</h1>
        <ul>
            <li class="skills">{{skill3}}</li>
            <li class="skills">{{skill2}}</li>
            <li class="skills">{{skill1}}</li>
        </ul>
    </section>
</body>

